.list-item {
    display: flexbox;
    border: 2px #1E4959 solid;
}
.list-detail{
    padding: 10px;
    margin: 0px
}

.fav-icon-list-view {
    display: flex;
}

.detail-row {
    display: flex;
    justify-content: space-between;
}

h4 {
    padding: 0px;
    margin: 0px;
}

.route-header-clickable {
    cursor: pointer;
}