.addRouteForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-end;
}

.addRouteInput {
    margin: 5px;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    width: 160px;
}

.infoInput {
    /* height: 48px; */
    margin: 5px;
    padding-right: 5px;
}