body{
    padding-top: 48px;
}

#new-comment-input {
    height: 50px;
    width: 300px;
}

.comments-section {
    display: flexbox;
    margin-bottom: 50px;
    padding-bottom: 100px;
}

.mapPlaceholder {
    width: 380px;
    display: flex;
}

.mapDiv {
    display: flex;
    justify-content: center;
}